/* styleDashboardAdmin.css */

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Общие стили для страницы */
body {
    background-color: #080710;
    font-family: 'Poppins', sans-serif;

    color: #ffffff;
}

/* Основные стили для вкладок */
.tab-button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #ffffff;
}

.tab-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.tab-button.active {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Скрытие содержимого вкладок по умолчанию */
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

/* Основные стили для формы */
.form-group {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    color: #e5e5e5;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn {
    display: inline-block;
    font-weight: 600;
    color: #080710;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid transparent;
    padding: 15px 0;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 5px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}

.btn-primary {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #0056b3;
    border-color: #004085;
}

.btn-danger {
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #ffffff;
    background-color: #c82333;
    border-color: #bd2130;
}

/* Стили для таблицы */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #ffffff;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: rgba(255, 255, 255, 0.13);
}

/* Стили для чекбоксов в таблице */
input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: 1px;
    line-height: 1;
    transform: scale(1.5);
}

/* Стили для заголовка страницы */
h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-bottom: 30px;
}
